@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
body a {
  text-decoration: none;
}
body a:hover {
  color: inherit;
}
body nav.navbar {
  padding: 20px;
  transition: 0.3s all linear;
}
body nav.navbar .logo {
  width: 50px;
}
body nav.navbar ul li {
  margin-bottom: 0;
}
body nav.navbar .nav-link {
  padding-right: 50px !important;
  color: #fff;
  padding-left: 0 !important;
  font-weight: 400;
}
body nav.navbar .nav-link.col {
  color: #120f0f !important;
}
body nav.navbar .nav-link.col:hover {
  color: #fc3792 !important;
}
body nav.navbar .nav-link:hover {
  color: #fc3792 !important;
}
body nav.navbar.navcolor {
  transition: 0.3s all linear;
  padding: 20px 0;
  background: #f8f8f8;
  box-shadow: 0px 20px 30px 0px rgba(106, 82, 254, 0.07);
}
body nav.navbar .navbar-toggler {
  outline: none !important;
  box-shadow: none;
}
body nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
body nav.navbar .navbar-toggler .nav-scroll {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
body nav.navbar .collapse {
  justify-content: flex-end;
}
body header {
  background: #120f0f url(../images/backgroundVector.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body header .intro-section .content {
  text-align: center;
}
body header .intro-section .content .content-title {
  color: white;
  font-size: 62px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 40px;
}
body header .intro-section .content .content-title span {
  color: #fc3792;
}
body header .intro-section .content .content-description {
  color: #fc3792;
  max-width: 553px;
  margin: auto;
  margin-bottom: 30px !important;
}
body header .intro-section .content .callbtn {
  background-color: white;
  border: none;
  width: 100%;
  max-width: 200px;
  padding: 7px 10px;
  font-weight: 500;
  border-radius: 20px;
}
body header .intro-section .content .callbtn:hover {
  background-color: #fc3792;
  color: white;
  transition: all 150ms ease-out;
}
body header .banner-socials .icon1 {
  position: relative;
  left: 20%;
  top: 25px;
}
body header .banner-socials .icon2 {
  position: relative;
  right: -100%;
}
body header .banner-socials .icon3 {
  position: absolute;
  top: 26%;
  left: 8%;
}
body header .banner-socials img {
  width: 90px;
}
body .aboutUs-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
body .aboutUs-section .results-boxes {
  margin-top: 59px;
}
body .aboutUs-section .results-boxes .box {
  background: #120f0f url(../images/backgroundVector.png);
  background-size: contain;
  background-position: center center;
  max-width: 226px;
  padding: 22px 15px;
  border-radius: 8px;
  margin-bottom: 6px;
}
body .aboutUs-section .results-boxes .box .box-title {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}
body .aboutUs-section .results-boxes .box .box-stats {
  font-size: 27px;
  font-weight: 500;
  color: #fc3792;
  margin-bottom: 0px;
}
body .aboutUs-section .results-boxes .box .box-stats span {
  font-size: 17px;
}
body .aboutUs-section .about-description .about-title {
  font-weight: 600;
  margin-top: 10px;
  font-size: 29px;
}
body .aboutUs-section .about-description .about-short-description {
  color: #4b4b4b;
  font-size: 18px;
  margin-bottom: 0;
}
body .aboutUs-section .about-description .bold {
  color: #120f0f;
  font-size: 16px;
  font-weight: bold;
}
body .aboutUs-section .about-description .contentBtn {
  background-color: #fc3792;
  color: white;
  border: none;
  width: 100%;
  max-width: 200px;
  padding: 8px 13px;
  font-weight: 400;
  border-radius: 20px;
}
body .aboutUs-section .about-description .contentBtn:hover {
  opacity: 0.7;
  transition: all 150ms ease-out;
}
body .main-body {
  background-color: #120f0f;
  padding: 70px 10px;
}
body .main-body .services .services-body {
  margin-top: 50px;
}
body .main-body .services .services-body .service {
  border-radius: 4px;
  background-color: #191919;
  color: white;
  padding: 10px 20px;
  margin-bottom: 25px !important;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
body .main-body .services .services-body .service .service-name {
  font-size: 17px;
  font-weight: 500;
  margin-top: 12px;
}
body .main-body .services .services-body .service .service-paragraph {
  align-items: center;
  font-weight: 300;
  color: #ece7e7;
  margin-top: 16px;
}
body .main-body .services .services-body .service .service-paragraph a {
  display: flex;
  justify-content: flex-end;
}
body .main-body .services .services-body .service .service-paragraph .down-arrow {
  width: 15px;
  cursor: pointer;
}
body .main-body .services .services-body .service .service-description.expanded-p {
  display: none;
  margin-top: 10px;
}
body .main-body .services .services-body .service .service-description.active .expanded-p {
  display: block;
  overflow: hidden;
  transition: height 0.3s ease-out;
  transition-delay: 0.2s;
}
body .main-body .services .services-body .service .rotate {
  transform: rotate(180deg);
}
body .main-body .div-top .div-top-title {
  color: white;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0;
}
body .main-body .div-top .div-top-description {
  color: #fc3792;
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
}
body .main-body .projects {
  margin-top: 70px;
}
body .main-body .projects .color-pink {
  color: #fc3792 !important;
}
body .call-section {
  padding: 80px 0;
}
body .call-section .meeting-logo {
  width: 75px;
}
body .call-section .cta {
  font-size: 15px;
  margin-bottom: 0;
  font-weight: bold;
}
body .call-section .cta.pink {
  color: #fc3792;
}
body .call-section .inbetween-img {
  display: none;
}
body .call-section .call-section-content {
  margin-top: 20px;
}
body .call-section .call-section-content .call-section-title {
  margin-top: 0;
  font-weight: 500;
}
body .call-section .call-section-content .call-section-description {
  color: #4b4b4b;
  font-size: 17px;
}
body .call-section .call-section-content-list {
  margin-top: 30px;
}
body .call-section .call-section-content-list .points-list {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 0;
}
body .call-section .call-section-content-list .points-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
body .call-section .call-section-content-list .points-list li img {
  margin-right: 6px;
}
body .call-section .call-section-content-list .points-list li p {
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 0;
}
body .call-section .call-section-content-list .call-section-btn {
  background-color: #fc3792;
  color: white;
  border: none;
  width: 100%;
  max-width: 200px;
  padding: 7px 10px;
  font-weight: 500;
  border-radius: 20px;
}
body .call-section .call-section-content-list .call-section-btn:hover {
  opacity: 0.8;
}
body footer .level-1 {
  background-color: #1b1b1b;
  text-align: center;
  padding: 35px 0;
}
body footer .level-1 .socials a img {
  width: 100%;
  max-width: 39px;
}
body footer .level-1 .socials a:hover {
  opacity: 0.7;
}
body footer .level-1 .cta-question {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}
body footer .level-1 .button-call .footer-btn {
  background-color: transparent;
  border: 1px solid #fc3792;
  padding: 7px 14px;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
  font-size: 16px;
  font-weight: 300px;
}
body footer .level-1 .button-call .footer-btn:hover {
  color: #ece7e7 !important;
  background-color: #fc3792;
  border-color: white;
  transition: all 200ms ease-in;
}
body footer .level-2 {
  background-color: #161616;
  text-align: center;
  padding: 25px 0;
  color: white;
}
body footer .level-2 .contact-info p {
  font-weight: 300;
  margin-bottom: 0;
}
body footer .level-3 {
  background-color: #000000;
  padding: 13px 0;
}
body footer .level-3 .copyrights {
  text-align: center;
  margin-bottom: 0;
  color: #7e7e7e;
}
body footer .level-3 .copyrights span {
  color: #fffafa;
  font-weight: 200;
  font-size: inherit;
}

@media (min-width: 768px) and (max-width: 999px) {
  body .call-section .call-meeting-image img {
    margin-left: -9px;
    width: 100%;
    height: 622px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  body .call-section .call-meeting-image img {
    margin-left: -20px;
  }
}
@media (max-width: 769px) {
  body .call-section {
    max-width: 85%;
  }
  body .call-section .call-meeting-image {
    display: none;
  }
  body .call-section .inbetween-img {
    display: block;
    margin: 20px auto;
  }
  body .call-section .inbetween-img img {
    width: 100%;
    border-radius: 10px;
  }
}
@media (min-width: 996px) and (max-width: 1216px) {
  body .aboutUs-section .results-boxes .info-img {
    margin-left: -30px;
  }
}
@media (max-width: 990px) {
  body nav.fixed-top .navbar-nav {
    background: #fff;
    margin-top: 30px;
    padding: 25px;
  }
  body nav.fixed-top .nav-link {
    color: #000000 !important;
  }
  body nav.fixed-top .nav-link:hover {
    color: #fc3792 !important;
  }
  body .aboutUs-section {
    height: 100% !important;
    margin-top: 45px;
  }
  body .aboutUs-section .results-boxes .info-img {
    max-width: 100%;
  }
  body .aboutUs-section .mobile-about {
    display: flex;
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 1032px) {
  body header .intro-section .content {
    margin-top: 96px !important;
  }
  body header .banner-socials {
    display: none !important;
  }
}/*# sourceMappingURL=styles.css.map */